In [1]:
import pandas as pd
import ast
from collections import Counter

In [2]:
pd.options.display.max_colwidth = 100

In [3]:
import spacy
import en_core_web_sm
from collections import OrderedDict

In [4]:
# Utils

In [5]:
class PosCountsTask():
    def __init__(self,df):
        self.df = df
        self.nlp = en_core_web_sm.load()
        self.desired_pos = ["NOUN", "PROPN", "VERB", "ADJ"]
        self.grammar_pos = ["INTJ", "CCONJ", "AUX", "PUNCT","PART","SCONJ","DET","SYM", "NUM"]
        
    def make_pos_counts(self, text, pos_tag):
        docs = self.nlp(text)
        counts = Counter()
        for word in docs:
            counts[word.pos_] += 1
        # combine all counts of other grammar words than the desired list
        counts2 = Counter()
        for pos in counts.keys():
            if pos in self.grammar_pos:
                counts2["other_pos_counts"] += counts[pos]
        
        if pos_tag in counts2.keys():
            return counts2[pos_tag]
        elif pos_tag in counts.keys():
            return counts[pos_tag]
        else:
            return 0
    
    def make_counts_fields(self):
        df = self.df
        for pos in self.desired_pos:
            field_name = spacy.explain(pos) + "_counts"
            df[field_name] = df["claim"].apply(lambda x: self.make_pos_counts(x,pos))
            
        df["other_pos_counts"] = self.df["claim"].apply(lambda x: 
                                                           self.make_pos_counts(x,"other_pos_counts"))
        return df

# Reading the Train data and add support len

In [6]:
import json

file = 'train.json'
with open(file) as train_file:
    dict_train = json.load(train_file)

new_train_dict = {}
for key,value in dict_train.items():
    value["Support_length"] = len(value['evidence'])
    new_train_dict[key] = value

with open('train_1.json',"w") as train_file:
    json.dump(new_train_dict, train_file)

In [7]:
train_df = pd.read_json('train_1.json', orient='index')

In [8]:
train_df.shape

(145449, 4)

In [9]:
train_df.sort_index().head(10)

,Support_length,claim,evidence,label
3,1,Chris Hemsworth appeared in A Perfect Getaway.,"[[Chris_Hemsworth, 2]]",SUPPORTS
4,0,Chris Hemsworth disappeared in A Perfect Getaway.,[],NOT ENOUGH INFO
7,1,Roald Dahl is a writer.,"[[Roald_Dahl, 0]]",SUPPORTS
8,1,Roald Dahl is a governor.,"[[Roald_Dahl, 0]]",REFUTES
9,1,Ireland has relatively low-lying mountains.,"[[Ireland, 10]]",SUPPORTS
10,1,Ireland does not have relatively low-lying mountains.,"[[Ireland, 10]]",REFUTES
13,0,David Thewis has had many notable performances.,[],NOT ENOUGH INFO
14,2,There have been many notable performances by David Thewlis.,"[[David_Thewlis, 2], [David_Thewlis, 1]]",SUPPORTS
17,1,Edward I of England responded to a second rebellion in 1282.,"[[Edward_I_of_England, 16]]",SUPPORTS
18,0,Edward I of England responded to a second rebellion in 1282 and he was a dictator.,[],NOT ENOUGH INFO

In [10]:
df = train_df[:100].copy()
pos_counts = PosCountsTask(df=df)
df = pos_counts.make_counts_fields()

In [11]:
df

,Support_length,claim,evidence,label,noun_counts,proper noun_counts,verb_counts,adjective_counts,other_pos_counts
75397,2,Nikolaj Coster-Waldau worked with the Fox Broadcasting Company.,"[[Fox_Broadcasting_Company, 0], [Nikolaj_Coster-Waldau, 7]]",SUPPORTS,0,6,1,0,3
150448,2,Roman Atwood is a content creator.,"[[Roman_Atwood, 1], [Roman_Atwood, 3]]",SUPPORTS,2,2,1,0,2
214861,1,"History of art includes architecture, dance, sculpture, music, painting, poetry literature, thea...","[[History_of_art, 2]]",SUPPORTS,14,0,1,1,11
156709,1,Adrienne Bailon is an accountant.,"[[Adrienne_Bailon, 0]]",REFUTES,1,2,1,0,2
83235,0,System of a Down briefly disbanded in limbo.,[],NOT ENOUGH INFO,3,0,1,1,2
129629,2,Homeland is an American television spy thriller based on the Israeli television series Prisoners...,"[[Prisoners_of_War_-LRB-TV_series-RRB-, 0], [Homeland_-LRB-TV_series-RRB-, 0]]",SUPPORTS,5,3,2,2,3
149579,0,Beautiful reached number two on the Billboard Hot 100 in 2003.,[],NOT ENOUGH INFO,1,2,1,1,5
229289,0,Neal Schon was named in 1954.,[],NOT ENOUGH INFO,0,2,2,0,2
33078,1,The Boston Celtics play their home games at TD Garden.,"[[Boston_Celtics, 3]]",SUPPORTS,3,3,1,1,2
6744,2,The Ten Commandments is an epic film.,"[[The_Ten_Commandments_-LRB-1956_film-RRB-, 20], [The_Ten_Commandments_-LRB-1956_film-RRB-, 0]]",SUPPORTS,1,2,1,1,3
226034,1,Tetris has sold millions of physical copies.,"[[Tetris, 18]]",SUPPORTS,2,1,2,1,1
40190,1,Cyndi Lauper won the Best New Artist award at the 27th Grammy Awards in 1985.,"[[Cyndi_Lauper, 2]]",SUPPORTS,1,6,1,2,4
76253,4,There is a movie called The Hunger Games.,"[[The_Hunger_Games_-LRB-film-RRB-, 16], [The_Hunger_Games_-LRB-film-RRB-, 1], [The_Hunger_Games_...",SUPPORTS,1,2,2,0,3
188923,2,Ryan Gosling has been to a country in Africa.,"[[Chad, 0], [Ryan_Gosling, 17]]",SUPPORTS,1,3,2,0,2
138503,1,"Stranger Things is set in Bloomington, Indiana.","[[Stranger_Things, 5]]",REFUTES,0,4,2,0,2
129983,4,Ryan Seacrest is a person.,"[[Ryan_Seacrest, 1], [Ryan_Seacrest, 2], [Ryan_Seacrest, 0], [Ryan_Seacrest, 5]]",SUPPORTS,1,2,1,0,2
73170,1,Puerto Rico is not an unincorporated territory of the United States.,"[[Puerto_Rico, 0]]",REFUTES,1,4,1,1,3
179616,1,Michael Giacchino composed the score for Doctor Strange.,"[[Michael_Giacchino, 1]]",SUPPORTS,1,4,1,0,2
207456,1,Stranger than Fiction is a film.,"[[Stranger_than_Fiction_-LRB-2006_film-RRB-, 0]]",SUPPORTS,1,1,1,1,2
3,1,Chris Hemsworth appeared in A Perfect Getaway.,"[[Chris_Hemsworth, 2]]",SUPPORTS,0,4,1,0,2
93956,13,Selena recorded music.,"[[Selena, 4], [Selena, 19], [Selena, 16], [Selena, 10], [Selena, 11], [Selena, 8], [Selena, 2], ...",SUPPORTS,1,1,1,0,1
138117,0,John Wick: Chapter 2 was theatrically released in the Oregon.,[],NOT ENOUGH INFO,1,3,2,0,4
53133,1,"Robert J. O'Neill was born April 10, 1976.","[[Robert_J._O'Neill_-LRB-U.S._Navy_SEAL-RRB-, 0]]",SUPPORTS,0,4,2,0,4
210010,0,Afghanistan is the source of the Kushan dynasty.,[],NOT ENOUGH INFO,2,2,1,0,3
134381,0,Marilyn Monroe worked with Warner Brothers.,[],NOT ENOUGH INFO,0,4,1,0,1
228271,1,The Silence of the Lambs was a film starring Scott Glenn.,"[[The_Silence_of_the_Lambs_-LRB-film-RRB-, 0]]",SUPPORTS,1,4,2,0,4
15812,2,Peggy Sue Got Married is a Egyptian film released in 1986.,"[[Francis_Ford_Coppola, 0], [Peggy_Sue_Got_Married, 0]]",REFUTES,1,4,2,1,3
57330,1,Andy Roddick lost 5 Master Series between 2002 and 2010.,"[[Andy_Roddick, 7]]",REFUTES,0,4,1,0,5
52432,1,"As the Vietnam War raged in 1969, Yoko Ono and her husband John Lennon did not have two week-lon...","[[Bed-In, 0]]",REFUTES,3,8,3,2,8
214706,1,Tupac Shakur was born Lesane Parish Crooks.,"[[Tupac_Shakur, 0]]",SUPPORTS,0,5,2,0,1
...,...,...,...,...,...,...,...,...,...
30865,5,Chester Bennington is not a singer.,"[[Chester_Bennington, 4], [Chester_Bennington, 7], [Chester_Bennington, 1], [Chester_Bennington,...",REFUTES,1,2,1,0,2
46639,1,Vincent Cassel played Jacques Mesrine in at least two films.,"[[Vincent_Cassel, 1]]",SUPPORTS,1,4,1,0,2
120501,1,Pope John Paul II co-stars many actors besides Christopher Lee.,"[[Pope_John_Paul_II_-LRB-miniseries-RRB-, 11]]",SUPPORTS,3,6,0,1,2
170078,1,David Beckham has zero middle names.,"[[David_Beckham, 0]]",REFUTES,1,2,1,1,2
143348,1,Indiana Jones has only been portrayed by Harrison Ford.,"[[Indiana_Jones, 7]]",REFUTES,0,4,3,0,1
156207,13,Brian Wilson was part of the Beach Boys.,"[[Brian_Wilson, 5], [Brian_Wilson, 19], [Love_&_Mercy_-LRB-film-RRB-, 1], [Brian_Wilson_Presents...",SUPPORTS,1,4,1,0,2
80579,0,The Existence of God has been argued through the Five Ways.,[],NOT ENOUGH INFO,0,3,3,0,4
99976,1,The Great Gatsby centers on a youthful person with over a million dollars.,"[[The_Great_Gatsby, 1]]",SUPPORTS,3,1,0,2,5
93444,1,Shane Black and Chris Miller wrote Iron Man 3.,"[[Iron_Man_3, 2]]",REFUTES,0,6,1,0,3
181753,1,"La La Anthony was conceived on June 25th, 1979.","[[La_La_Anthony, 0]]",REFUTES,1,4,2,0,3
155975,17,Led Zeppelin is a band.,"[[Led_Zeppelin, 12], [Led_Zeppelin, 1], [Led_Zeppelin, 15], [Led_Zeppelin, 0], [Led_Zeppelin, 20...",SUPPORTS,1,2,1,0,2
210782,1,"Richard Harris was born on October 25, 2002.","[[Richard_Harris, 0]]",SUPPORTS,0,3,2,0,4
23042,2,The Fosters is a television series.,"[[The_Fosters_-LRB-2013_TV_series-RRB-, 0], [The_Fosters_-LRB-2013_TV_series-RRB-, 4]]",SUPPORTS,2,1,1,0,3
214059,1,Blair is Jonathan Hensleigh's middle name.,"[[Jonathan_Hensleigh, 0]]",SUPPORTS,1,3,1,1,2
86378,1,Filmfare is about cheese.,"[[Filmfare, 0]]",REFUTES,1,1,1,0,1
140101,1,Buckingham Palace lacks brightly colored scagliola.,"[[Buckingham_Palace, 15]]",REFUTES,1,2,2,0,1
213821,1,Sarah Paulson makes an appearance in What Women Want.,"[[Sarah_Paulson, 2]]",SUPPORTS,2,3,2,0,2
187282,1,David Harbour is an American.,"[[David_Harbour, 0]]",SUPPORTS,0,3,1,0,2
223596,0,Nicole Scherzinger toured 15 times.,[],NOT ENOUGH INFO,1,2,1,0,2
193992,1,The terrain of Kazakhstan includes taiga.,"[[Kazakhstan, 12]]",SUPPORTS,2,1,1,0,2
200927,0,Sade (singer) has a song called London.,[],NOT ENOUGH INFO,3,1,2,0,4
132873,1,"José María Chacón surrendered the island of Trinidad in 1797, one year before his death.","[[José_María_Chacón, 0]]",REFUTES,3,4,1,1,5
15711,1,Liverpool F.C. was valued at $1.55 billion at one point.,"[[Liverpool_F.C., 11]]",SUPPORTS,1,2,2,0,5
104690,2,Land Rover makes cars.,"[[Land_Rover, 11], [Land_Rover, 0]]",SUPPORTS,1,2,1,0,1
48320,1,Sully is a form of media.,"[[Sully_-LRB-film-RRB-, 0]]",SUPPORTS,2,0,1,0,2
80232,2,Stanley Tucci performed in an television series.,"[[Stanley_Tucci, 4], [Monk_-LRB-TV_series-RRB-, 0]]",SUPPORTS,2,2,1,0,2
77240,0,Martin Scorsese worked on commission.,[],NOT ENOUGH INFO,1,2,1,0,1
60225,1,Brock Lesnar married Randy Couture.,"[[Brock_Lesnar, 18]]",REFUTES,0,4,1,0,1
112818,0,Snowden's cast includes two actors born in 1934.,[],NOT ENOUGH INFO,2,1,2,0,4
128969,0,Tiger Woods had an uncontested victory at the Arnold Palmer Invitational.,[],NOT ENOUGH INFO,1,5,1,1,3