In [2]:
import os
import io
from zipfile import ZipFile

In [3]:
import shutil
import csv

In [4]:
import re
import xapian
import pandas as pd
import numpy as np

In [5]:
pd.options.display.max_colwidth = 100

In [6]:
dbpath = "full_index"
search_results_path = "data/search_results.csv"

In [7]:
!xapian-delve $dbpath

UUID = b940719a-3fb5-4d57-8b01-3186790b1ade
number of documents = 3833466
average document length = 170.939
document length lower bound = 1
document length upper bound = 31154
highest document id ever used = 3833466
has positional information = true
revision = 392
currently open for writing = false

In [8]:
!xapian-delve -r 1833129 -d $dbpath

Data for record #1833129:

Term List for record #1833129: 17 2004 2007 3 QKim_Hyde Skim_hyde ZSkim_hyd Za Zand Zappear Zaustralian Zaway Zby Zcharact Zchris Zdepart Zfebruari Zfiction Zfirst Zfrom Zhe Zhemsworth Zhis Zhome Zhyde Zjonathan Zjuli Zkim Zkimber Zmade Zon Zopera Zplay Zscreen Zsoap Zthe Zwas a and appearance australian away by character chris departed february fictional first from he hemsworth his home hyde jonathan july kim kimberly made on opera played screen soap the was

# Retrieve documents relevant to claims

In [76]:
def get_doc_id(match):
    for term in match.document.termlist():
        term = term.term.decode("utf-8") 
        m = re.match("Q(.*)", term)
        if m:
            return m[1]
    return None

In [77]:
# Prepare enquiry object

# Open the database we're going to search.
db = xapian.Database(dbpath)

# Set up a QueryParser with a stemmer and suitable prefixes
queryparser = xapian.QueryParser()
queryparser.set_stemmer(xapian.Stem("en"))
queryparser.set_stemming_strategy(queryparser.STEM_SOME)

# Use an Enquire object on the database to run the query
enquire = xapian.Enquire(db)

In [207]:
claim_df = pd.read_csv('data/claims.csv', index_col='claim_id')
claim_df.head()

                                                      claim source
claim_id
3            Chris Hemsworth appeared in A Perfect Getaway.  train
4         Chris Hemsworth disappeared in A Perfect Getaway.  train
6                                Firefox is an application.   test
7                                   Roald Dahl is a writer.  train
8                                 Roald Dahl is a governor.  train

In [208]:
claim_df.shape

(165447, 2)

In [139]:
%%time
fields = ['claim_id', 'found_doc', 'rank', 'percentage', 'weight']
pagesize = 100
i = 0
results = []

with open(search_results_path, 'w') as csvFile:
    writer = csv.DictWriter(csvFile, fieldnames=fields)
    writer.writeheader()

    for claim_id, claim in claim_df.claim.items():
        if i % 100 == 0:
            print(i // 100, claim_id)
        i += 1

        query = queryparser.parse_query(claim)
        enquire.set_query(query)
        matches = enquire.get_mset(0, pagesize)

        query_results = []
        for match in matches:
            result = dict(
                claim_id = claim_id,
                found_doc = get_doc_id(match),
                rank = match.rank + 1,
                percentage = match.percent,
                weight = match.weight,            
            )
            query_results.append(result)
        writer.writerows(query_results)
        results += query_results
csvFile.close()

0 3
1 131
2 266
3 389
4 540
5 684
6 836
7 957
8 1102
9 1258
10 1395
11 1531
12 1670
13 1806
14 1934
15 2073
16 2205
17 2340
18 2492
19 2622
20 2767
21 2900
22 3027
23 3180
24 3319
25 3441
26 3590
27 3717
28 3853
29 3990
30 4127
31 4267
32 4406
33 4541
34 4678
35 4815
36 4952
37 5076
38 5218
39 5340
40 5469
41 5604
42 5741
43 5863
44 6018
45 6153
46 6282
47 6404
48 6532
49 6655
50 6788
51 6908
52 7036
53 7166
54 7299
55 7419
56 7565
57 7684
58 7813
59 7943
60 8072
61 8210
62 8346
63 8479
64 8616
65 8759
66 8899
67 9028
68 9148
69 9297
70 9430
71 9577
72 9718
73 9851
74 9978
75 10116
76 10270
77 10400
78 10534
79 10667
80 10793
81 10935
82 11080
83 11220
84 11348
85 11505
86 11635
87 11766
88 11901
89 12039
90 12165
91 12301
92 12440
93 12576
94 12707
95 12837
96 12967
97 13102
98 13238
99 13380
100 13521
101 13652
102 13775
103 13917
104 14049
105 14185
106 14325
107 14464
108 14603
109 14733
110 14864
111 14991
112 15125
113 15268
114 15390
115 15526
116 15664
117 15796
118 15927
119 16052
120 16189
121 16340
122 16480
123 16621
124 16743
125 16875
126 17000
127 17124
128 17244
129 17378
130 17520
131 17655
132 17788
133 17910
134 18046
135 18182
136 18313
137 18454
138 18592
139 18712
140 18845
141 19001
142 19142
143 19266
144 19405
145 19549
146 19676
147 19808
148 19943
149 20091
150 20220
151 20380
152 20512
153 20642
154 20770
155 20926
156 21050
157 21173
158 21307
159 21434
160 21568
161 21712
162 21853
163 22002
164 22138
165 22277
166 22405
167 22545
168 22674
169 22832
170 22959
171 23101
172 23221
173 23348
174 23477
175 23603
176 23744
177 23884
178 24017
179 24145
180 24272
181 24391
182 24519
183 24661
184 24785
185 24926
186 25036
187 25158
188 25304
189 25435
190 25571
191 25699
192 25836
193 25962
194 26095
195 26226
196 26357
197 26494
198 26611
199 26742
200 26885
201 27018
202 27163
203 27321
204 27465
205 27607
206 27738
207 27876
208 28017
209 28172
210 28314
211 28454
212 28586
213 28712
214 28863
215 29005
216 29138
217 29279
218 29405
219 29535
220 29662
221 29792
222 29913
223 30044
224 30180
225 30308
226 30449
227 30583
228 30729
229 30870
230 31010
231 31155
232 31293
233 31431
234 31563
235 31696
236 31834
237 31962
238 32104
239 32225
240 32351
241 32492
242 32631
243 32771
244 32914
245 33044
246 33176
247 33308
248 33448
249 33596
250 33728
251 33874
252 34014
253 34148
254 34280
255 34422
256 34550
257 34679
258 34822
259 34948
260 35085
261 35214
262 35334
263 35461
264 35610
265 35735
266 35866
267 35998
268 36118
269 36252
270 36403
271 36540
272 36678
273 36815
274 36951
275 37085
276 37214
277 37341
278 37480
279 37613
280 37763
281 37904
282 38055
283 38179
284 38314
285 38442
286 38567
287 38708
288 38835
289 38975
290 39124
291 39270
292 39403
293 39530
294 39659
295 39811
296 39944
297 40080
298 40227
299 40363
300 40495
301 40633
302 40770
303 40905
304 41037
305 41167
306 41303
307 41443
308 41571
309 41720
310 41866
311 41986
312 42131
313 42270
314 42396
315 42529
316 42666
317 42799
318 42931
319 43059
320 43197
321 43347
322 43481
323 43618
324 43748
325 43885
326 44026
327 44177
328 44305
329 44442
330 44569
331 44710
332 44840
333 44967
334 45088
335 45231
336 45371
337 45506
338 45635
339 45776
340 45904
341 46033
342 46171
343 46304
344 46456
345 46593
346 46726
347 46863
348 47008
349 47172
350 47312
351 47452
352 47608
353 47746
354 47872
355 48005
356 48160
357 48289
358 48411
359 48553
360 48686
361 48823
362 48966
363 49108
364 49242
365 49360
366 49505
367 49636
368 49776
369 49902
370 50053
371 50194
372 50330
373 50468
374 50606
375 50729
376 50857
377 50987
378 51120
379 51276
380 51406
381 51546
382 51688
383 51829
384 51968
385 52123
386 52271
387 52410
388 52552
389 52679
390 52816
391 52951
392 53075
393 53212
394 53350
395 53495
396 53629
397 53768
398 53902
399 54058
400 54205
401 54343
402 54483
403 54613
404 54744
405 54892
406 55028
407 55158
408 55295
409 55437
410 55579
411 55705
412 55849
413 55986
414 56135
415 56261
416 56400
417 56539
418 56671
419 56799
420 56935
421 57071
422 57199
423 57333
424 57472
425 57611
426 57751
427 57896
428 58029
429 58167
430 58311
431 58439
432 58568
433 58708
434 58832
435 58964
436 59106
437 59233
438 59375
439 59507
440 59646
441 59784
442 59929
443 60066
444 60207
445 60372
446 60510
447 60668
448 60803
449 60941
450 61089
451 61216
452 61365
453 61501
454 61640
455 61771
456 61907
457 62041
458 62174
459 62302
460 62435
461 62588
462 62723
463 62865
464 63010
465 63135
466 63269
467 63394
468 63529
469 63663
470 63792
471 63925
472 64059
473 64199
474 64342
475 64478
476 64618
477 64758
478 64881
479 65021
480 65151
481 65293
482 65430
483 65591
484 65722
485 65878
486 66013
487 66145
488 66279
489 66406
490 66540
491 66666
492 66800
493 66927
494 67068
495 67199
496 67330
497 67457
498 67598
499 67740
500 67878
501 68008
502 68143
503 68263
504 68390
505 68517
506 68648
507 68781
508 68928
509 69063
510 69208
511 69336
512 69474
513 69609
514 69751
515 69900
516 70030
517 70181
518 70313
519 70444
520 70593
521 70739
522 70889
523 71035
524 71164
525 71289
526 71428
527 71551
528 71671
529 71806
530 71944
531 72082
532 72235
533 72364
534 72515
535 72659
536 72801
537 72934
538 73067
539 73199
540 73336
541 73481
542 73617
543 73745
544 73883
545 74019
546 74163
547 74304
548 74440
549 74577
550 74720
551 74856
552 74998
553 75125
554 75256
555 75394
556 75538
557 75674
558 75809
559 75944
560 76075
561 76220
562 76355
563 76489
564 76622
565 76754
566 76897
567 77027
568 77162
569 77296
570 77425
571 77559
572 77701
573 77826
574 77969
575 78112
576 78254
577 78385
578 78533
579 78688
580 78821
581 78943
582 79078
583 79219
584 79356
585 79496
586 79619
587 79759
588 79904
589 80042
590 80169
591 80318
592 80456
593 80592
594 80728
595 80868
596 81002
597 81126
598 81258
599 81396
600 81540
601 81685
602 81823
603 81953
604 82098
605 82241
606 82370
607 82515
608 82649
609 82780
610 82913
611 83053
612 83197
613 83330
614 83456
615 83586
616 83713
617 83840
618 83970
619 84096
620 84223
621 84361
622 84484
623 84627
624 84761
625 84899
626 85029
627 85168
628 85292
629 85435
630 85572
631 85709
632 85846
633 85994
634 86125
635 86245
636 86395
637 86530
638 86657
639 86789
640 86922
641 87066
642 87199
643 87331
644 87470
645 87602
646 87736
647 87868
648 88004
649 88147
650 88288
651 88417
652 88552
653 88692
654 88822
655 88957
656 89102
657 89236
658 89376
659 89516
660 89643
661 89790
662 89939
663 90092
664 90234
665 90370
666 90511
667 90646
668 90792
669 90935
670 91075
671 91202
672 91342
673 91485
674 91620
675 91767
676 91907
677 92051
678 92199
679 92342
680 92481
681 92603
682 92745
683 92891
684 93025
685 93179
686 93328
687 93455
688 93602
689 93737
690 93884
691 94023
692 94151
693 94294
694 94437
695 94568
696 94703
697 94827
698 94970
699 95095
700 95230
701 95362
702 95507
703 95645
704 95788
705 95927
706 96061
707 96199
708 96328
709 96464
710 96607
711 96742
712 96884
713 97025
714 97191
715 97334
716 97452
717 97582
718 97717
719 97860
720 97993
721 98126
722 98282
723 98412
724 98546
725 98687
726 98832
727 98971
728 99112
729 99254
730 99393
731 99530
732 99677
733 99811
734 99953
735 100110
736 100246
737 100395
738 100534
739 100669
740 100806
741 100932
742 101065
743 101201
744 101336
745 101482
746 101620
747 101751
748 101885
749 102018
750 102152
751 102297
752 102436
753 102578
754 102723
755 102864
756 103015
757 103147
758 103307
759 103441
760 103579
761 103717
762 103849
763 103988
764 104126
765 104264
766 104408
767 104543
768 104681
769 104812
770 104941
771 105073
772 105209
773 105345
774 105482
775 105621
776 105761
777 105895
778 106029
779 106165
780 106306
781 106452
782 106588
783 106740
784 106884
785 107024
786 107162
787 107304
788 107435
789 107570
790 107721
791 107851
792 107978
793 108127
794 108276
795 108419
796 108546
797 108676
798 108811
799 108935
800 109068
801 109205
802 109350
803 109485
804 109625
805 109762
806 109902
807 110043
808 110166
809 110293
810 110429
811 110581
812 110722
813 110863
814 111001
815 111134
816 111284
817 111432
818 111561
819 111704
820 111832
821 111981
822 112117
823 112258
824 112396
825 112550
826 112701
827 112842
828 112981
829 113108

830 113236
831 113371
832 113516
833 113664
834 113803
835 113941
836 114103
837 114235
838 114381
839 114508
840 114640
841 114783
842 114927
843 115068
844 115210
845 115358
846 115511
847 115641
848 115780
849 115922
850 116056
851 116220
852 116380
853 116525
854 116674
855 116804
856 116928
857 117063
858 117219
859 117357
860 117481
861 117632
862 117783
863 117916
864 118054
865 118194
866 118333
867 118472
868 118611
869 118740
870 118876
871 119013
872 119146
873 119283
874 119424
875 119559
876 119689
877 119846
878 119989
879 120121
880 120283
881 120429
882 120574
883 120711
884 120846
885 120990
886 121127
887 121276
888 121417
889 121561
890 121696
891 121838
892 121980
893 122124
894 122266
895 122407
896 122551
897 122688
898 122826
899 122967
900 123114
901 123249
902 123384
903 123528
904 123683
905 123826
906 123964
907 124107
908 124243
909 124371
910 124499
911 124629
912 124756
913 124885
914 125020
915 125160
916 125289
917 125437
918 125578
919 125719
920 125853
921 125994
922 126125
923 126250
924 126399
925 126541
926 126686
927 126824
928 126947
929 127076
930 127217
931 127365
932 127492
933 127620
934 127761
935 127898
936 128043
937 128183
938 128321
939 128452
940 128586
941 128727
942 128851
943 128990
944 129122
945 129256
946 129393
947 129528
948 129658
949 129812
950 129960
951 130099
952 130235
953 130374
954 130521
955 130655
956 130785
957 130915
958 131054
959 131189
960 131318
961 131459
962 131598
963 131729
964 131865
965 132020
966 132148
967 132279
968 132411
969 132553
970 132700
971 132838
972 132975
973 133094
974 133223
975 133344
976 133495
977 133617
978 133749
979 133899
980 134049
981 134200
982 134339
983 134485
984 134625
985 134769
986 134906
987 135041
988 135180
989 135319
990 135463
991 135606
992 135749
993 135885
994 136029
995 136170
996 136308
997 136444
998 136594
999 136736
1000 136902
1001 137039
1002 137181
1003 137321
1004 137464
1005 137627
1006 137788
1007 137943
1008 138079
1009 138218
1010 138363
1011 138502
1012 138629
1013 138770
1014 138909
1015 139053
1016 139186
1017 139324
1018 139457
1019 139601
1020 139733
1021 139877
1022 140010
1023 140144
1024 140295
1025 140431
1026 140567
1027 140717
1028 140878
1029 141018
1030 141158
1031 141306
1032 141463
1033 141590
1034 141745
1035 141884
1036 142036
1037 142181
1038 142329
1039 142465
1040 142593
1041 142723
1042 142856
1043 142992
1044 143133
1045 143287
1046 143426
1047 143562
1048 143713
1049 143847
1050 144010
1051 144157
1052 144296
1053 144432
1054 144576
1055 144710
1056 144867
1057 145009
1058 145149
1059 145294
1060 145444
1061 145574
1062 145710
1063 145850
1064 145975
1065 146109
1066 146246
1067 146386
1068 146522
1069 146651
1070 146785
1071 146923
1072 147064
1073 147211
1074 147363
1075 147494
1076 147629
1077 147772
1078 147913
1079 148049
1080 148183
1081 148336
1082 148480
1083 148616
1084 148759
1085 148898
1086 149041
1087 149184
1088 149334
1089 149471
1090 149608
1091 149742
1092 149883
1093 150030
1094 150195
1095 150338
1096 150477
1097 150637
1098 150790
1099 150925
1100 151059
1101 151195
1102 151331
1103 151473
1104 151595
1105 151725
1106 151862
1107 152019
1108 152170
1109 152313
1110 152477
1111 152617
1112 152749
1113 152883
1114 153021
1115 153165
1116 153306
1117 153432
1118 153584
1119 153721
1120 153867
1121 154000
1122 154155
1123 154289
1124 154422
1125 154553
1126 154702
1127 154853
1128 154990
1129 155140
1130 155287
1131 155451
1132 155605
1133 155774
1134 155907
1135 156060
1136 156191
1137 156322
1138 156478
1139 156612
1140 156745
1141 156891
1142 157022
1143 157159
1144 157292
1145 157430
1146 157569
1147 157702
1148 157837
1149 157971
1150 158100
1151 158237
1152 158371
1153 158506
1154 158668
1155 158797
1156 158956
1157 159159
1158 159323
1159 159450
1160 159595
1161 159708
1162 159820
1163 159929
1164 160106
1165 160226
1166 160347
1167 160499
1168 160640
1169 160785
1170 160929
1171 161069
1172 161235
1173 161404
1174 161544
1175 161685
1176 161883
1177 162010
1178 162158
1179 162302
1180 162454
1181 162599
1182 162769
1183 162945
1184 163088
1185 163193
1186 163296
1187 163411
1188 163664
1189 163783
1190 163906
1191 164049
1192 164211
1193 164456
1194 164598
1195 164732
1196 164875
1197 165031
1198 165168
1199 165337
1200 165468
1201 165581
1202 165718
1203 165848
1204 166008
1205 166189
1206 166297
1207 166420
1208 166547
1209 166698
1210 166809
1211 166978
1212 167094
1213 167229
1214 167358
1215 167545
1216 167777
1217 167900
1218 168114
1219 168257
1220 168379
1221 168539
1222 168673
1223 168812
1224 169050
1225 169160
1226 169330
1227 169443
1228 169555
1229 169695
1230 169826
1231 169944
1232 170076
1233 170206
1234 170357
1235 170470
1236 170594
1237 170729
1238 170836
1239 170951
1240 171075
1241 171210
1242 171369
1243 171533
1244 171715
1245 171815
1246 171925
1247 172064
1248 172264
1249 172402
1250 172537
1251 172644
1252 172807
1253 172986
1254 173157
1255 173340
1256 173457
1257 173573
1258 173743
1259 173862
1260 173989
1261 174137
1262 174243
1263 174361
1264 174529
1265 174662
1266 174840
1267 175023
1268 175200
1269 175328
1270 175486
1271 175641
1272 175762
1273 175930
1274 176088
1275 176228
1276 176352
1277 176482
1278 176593
1279 176718
1280 176823
1281 176963
1282 177068
1283 177218
1284 177356
1285 177551
1286 177662
1287 177787
1288 177972
1289 178097
1290 178274
1291 178476
1292 178616
1293 178733
1294 178883
1295 178995
1296 179147
1297 179285
1298 179456
1299 179575
1300 179709
1301 179925
1302 180059
1303 180236
1304 180377
1305 180572
1306 180709
1307 180827
1308 180937
1309 181041
1310 181179
1311 181318
1312 181519
1313 181708
1314 181821
1315 182044
1316 182288
1317 182406
1318 182574
1319 182759
1320 182879
1321 183007
1322 183119
1323 183274
1324 183456
1325 183628
1326 183747
1327 183881
1328 184015
1329 184142
1330 184262
1331 184401
1332 184520
1333 184660
1334 184817
1335 184920
1336 185042
1337 185147
1338 185283
1339 185400
1340 185517
1341 185646
1342 185788
1343 185903
1344 186042
1345 186153
1346 186276
1347 186459
1348 186653
1349 186762
1350 186926
1351 187106
1352 187250
1353 187366
1354 187483
1355 187676
1356 187834
1357 187980
1358 188089
1359 188222
1360 188380
1361 188489
1362 188619
1363 188752
1364 188909
1365 189081
1366 189212
1367 189394
1368 189574
1369 189696
1370 189943
1371 190167
1372 190298
1373 190453
1374 190792
1375 190916
1376 191059
1377 191191
1378 191355
1379 191517
1380 191657
1381 191766
1382 191904
1383 192080
1384 192242
1385 192343
1386 192453
1387 192557
1388 192696
1389 192864
1390 193055
1391 193188
1392 193291
1393 193396
1394 193560
1395 193746
1396 193904
1397 194042
1398 194172
1399 194350
1400 194536
1401 194666
1402 194840
1403 194984
1404 195142
1405 195404
1406 195621
1407 195758
1408 195924
1409 196094
1410 196233
1411 196408
1412 196533
1413 196738
1414 196855
1415 197004
1416 197111
1417 197236
1418 197454
1419 197570
1420 197701
1421 197830
1422 197940
1423 198095
1424 198240
1425 198459
1426 198580
1427 198746
1428 198855
1429 198963
1430 199103
1431 199218
1432 199335
1433 199460
1434 199562
1435 199707
1436 199853
1437 199999
1438 200139
1439 200337
1440 200478
1441 200580
1442 200706
1443 200815
1444 200979
1445 201150
1446 201274
1447 201394
1448 201547
1449 201669
1450 201798
1451 201929
1452 202040
1453 202145
1454 202255
1455 202389
1456 202537
1457 202658
1458 202794
1459 202957
1460 203113
1461 203232
1462 203354
1463 203469
1464 203580
1465 203695
1466 203810
1467 203920
1468 204059
1469 204208
1470 204326
1471 204461
1472 204613
1473 204743
1474 204856
1475 205036
1476 205160
1477 205294
1478 205448
1479 205559
1480 205758
1481 205901
1482 206005
1483 206127
1484 206241
1485 206353
1486 206518
1487 206630
1488 206753
1489 206889
1490 207011
1491 207112
1492 207269
1493 207399
1494 207512
1495 207633
1496 207816
1497 207936
1498 208047
1499 208212
1500 208344
1501 208475
1502 208601
1503 208707
1504 208809
1505 208935
1506 209045
1507 209158
1508 209269
1509 209383
1510 209507
1511 209625
1512 209731
1513 209840
1514 210023
1515 210137
1516 210276
1517 210462
1518 210611
1519 210737
1520 210845
1521 210964
1522 211087
1523 211194
1524 211365
1525 211537
1526 211664

1527 211816
1528 211960
1529 212122
1530 212260
1531 212407
1532 212514
1533 212639
1534 212792
1535 212921
1536 213058
1537 213187
1538 213290
1539 213399
1540 213548
1541 213690
1542 213862
1543 213976
1544 214082
1545 214208
1546 214328
1547 214436
1548 214544
1549 214742
1550 214906
1551 215037
1552 215184
1553 215359
1554 215494
1555 215681
1556 215800
1557 215944
1558 216055
1559 216188
1560 216317
1561 216478
1562 216622
1563 216754
1564 216871
1565 217033
1566 217186
1567 217334
1568 217461
1569 217638
1570 217755
1571 217938
1572 218060
1573 218188
1574 218311
1575 218420
1576 218536
1577 218641
1578 218759
1579 218869
1580 218978
1581 219124
1582 219268
1583 219449
1584 219559
1585 219672
1586 219891
1587 220031
1588 220201
1589 220367
1590 220546
1591 220712
1592 220852
1593 220974
1594 221103
1595 221322
1596 221435
1597 221567
1598 221709
1599 221812
1600 221914
1601 222030
1602 222171
1603 222336
1604 222452
1605 222576
1606 222738
1607 222881
1608 223002
1609 223122
1610 223242
1611 223366
1612 223480
1613 223591
1614 223722
1615 223873
1616 224027
1617 224208
1618 224437
1619 224539
1620 224674
1621 224856
1622 224971
1623 225088
1624 225194
1625 225337
1626 225479
1627 225621
1628 225769
1629 225898
1630 226037
1631 226168
1632 226289
1633 226398
1634 226553
1635 226699
1636 226843
1637 226960
1638 227080
1639 227274
1640 227476
1641 227597
1642 227704
1643 227822
1644 227936
1645 228071
1646 228223
1647 228351
1648 228515
1649 228678
1650 228835
1651 228953
1652 229079
1653 229282
1654 229401
CPU times: user 4h 7min 7s, sys: 40min 40s, total: 4h 47min 48s
Wall time: 5h 7min 33s

# Analyse Found Documents

## Read search results

In [9]:
results_df = pd.read_csv(search_results_path)

In [10]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16544700 entries, 0 to 16544699
Data columns (total 5 columns):
claim_id      int64
found_doc     object
rank          int64
percentage    int64
weight        float64
dtypes: float64(1), int64(3), object(1)
memory usage: 631.1+ MB

In [11]:
#results_df.sort_values('percentage', ascending=False).head(100)
results_df.sort_values('weight', ascending=False).head(10)

          claim_id                found_doc  rank  percentage      weight
12993200    179614        Michael_Giacchino     1         100  246.832666
12993400    179617        Michael_Giacchino     1         100  246.832666
12994100    179627        Michael_Giacchino     1         100  246.832666
12996200    179663        Michael_Giacchino     1         100  246.832666
14294200    199027  International_relations     1          98  236.997039
14300000    199103  International_relations     1          98  236.997039
14293700    199019  International_relations     1          98  236.997039
14297000    199061  International_relations     1          98  236.997039
14297300    199065  International_relations     1          98  236.997039
14294500    199030  International_relations     1          98  236.997039

In [12]:
func = lambda x: set(x)
found_docs_df = results_df.pivot_table(index='claim_id', values='found_doc', aggfunc=func)
found_docs_df.head()

                                                                                                    found_doc
claim_id
3         {Grimethorpe, Luke_Hemsworth, Chris_Joris, Team_Soho, The_Perfect_Assistant, Perfect_10, Chris_H...
4         {Grimethorpe, Aquil_Abdullah, Luke_Hemsworth, Gone_Maggie_Gone, Team_Soho, Arthur_Bunting, The_P...
6         {BlueGriffon, SeaMonkey, Xprint, Asa_Dotzler, Motion_JPEG, Secure_cookies, XPInstall, FireFTP, W...
7         {Wonka, The_Magic_Finger, David_Coke, Charlie_and_the_Chocolate_Factory_video_games, Edward_the_...
8         {Wonka, The_Magic_Finger, David_Coke, Charlie_and_the_Chocolate_Factory_video_games, Edward_the_...

## Read claims

In [25]:
labelled_claims_df = pd.read_json('data/labelled_claims.json').sort_index()
#mask = labelled_claims_df.source == 'dev'
#labelled_claims_df = labelled_claims_df[mask]

In [26]:
labelled_claims_df = labelled_claims_df.join(found_docs_df)

In [27]:
func = lambda x: set(x['evidence_docs']).difference(x['found_doc'])
labelled_claims_df['missed_docs'] = labelled_claims_df.apply(func, axis=1)
labelled_claims_df['missed_count'] = labelled_claims_df['missed_docs'].apply(len)

In [28]:
labelled_claims_df.head()

,claim,source,evidence_docs,label,found_doc,missed_docs,missed_count
3,Chris Hemsworth appeared in A Perfect Getaway.,train,[Chris_Hemsworth],SUPPORTS,"{Tom_Devanney, Conditional_perfect, Markov_perfect_equilibrium, Chris_McMenamin, The_Perfect_Sco...",{},0
4,Chris Hemsworth disappeared in A Perfect Getaway.,train,[],NOT ENOUGH INFO,"{Tom_Devanney, Arthur_Bunting, Hard_Rock_Treasures, The_Perfect_Score, Stabilized_images, Neil_R...",{},0
7,Roald Dahl is a writer.,train,[Roald_Dahl],SUPPORTS,"{Esio_Trot, Sophie_Dahl, Roald_Dahl, Piker, The_Best_of_Roald_Dahl, The_Wonderful_Story_of_Henry...",{},0
8,Roald Dahl is a governor.,train,[Roald_Dahl],REFUTES,"{Esio_Trot, Sophie_Dahl, Piker, Roald_Dahl, The_Best_of_Roald_Dahl, The_Twits, The_Wonderful_Sto...",{},0
9,Ireland has relatively low-lying mountains.,train,[Ireland],SUPPORTS,"{List_of_highest_mountains_of_Tasmania, Rockefeller_Mountains, Ireland, Croghan_Hill, Pandemoniu...",{},0

In [40]:
recall_df = labelled_claims_df.pivot_table(index='missed_count', columns='source',# margins=True,
                                                values='claim', aggfunc='count', fill_value=0)
recall_df.head()

source         dev   train
missed_count
0             3837  105020
1             1005   34150
2              111    4146
3               19     903
4               18     469

In [42]:
(recall_df / recall_df.sum() * 100).head(1)

source              dev      train
missed_count
0             76.724655  72.204003

## Evidence found

In [43]:
found_df = labelled_claims_df[(labelled_claims_df.missed_count == 0) & (labelled_claims_df.label != 'NOT ENOUGH INFO')]

In [44]:
found_df.evidence_docs.astype(str).value_counts().to_frame()

                                                                                                    evidence_docs
['Snoop_Dogg']                                                                                                166
['Wyatt_Earp']                                                                                                148
['Marlon_Brando']                                                                                             134
['Miley_Cyrus']                                                                                               120
['Adele']                                                                                                     118
['David_Beckham']                                                                                             102
['Tim_Rice']                                                                                                  102
['Anne_Hathaway']                                                                                             100
['Carrie_Fisher']                                                                                              98
['Lady_Gaga']                                                                                                  94
['Noam_Chomsky']                                                                                               94
['Willie_Nelson']                                                                                              94
['Marilyn_Monroe']                                                                                             94
['Imagine_Dragons']                                                                                            92
['Peyton_Manning']                                                                                             91
['Frank_Sinatra']                                                                                              90
['Paul_Newman']                                                                                                90
['Prison_Break']                                                                                               90
['Dwayne_Johnson']                                                                                             90
['Kurt_Angle']                                                                                                 89
['Halle_Berry']                                                                                                89
['Eminem']                                                                                                     89
['Tom_Felton']                                                                                                 88
['John_Lennon']                                                                                                87
['United_Kingdom']                                                                                             87
['Jennifer_Aniston']                                                                                           87
['Leonardo_da_Vinci']                                                                                          87
['Bradley_Cooper']                                                                                             87
['Led_Zeppelin']                                                                                               87
['Jeff_Bezos']                                                                                                 86
...                                                                                                           ...
['Ningxia', 'Hui_people']                                                                                       1
['Star_Wars', 'Darth_Vader']                                                                                    1
['Anne_Frank', 'Margot_Frank']                                                                                  1
['Nepal', 'Shah_dynasty']                                                                                       1
['The_Beach_Boys', 'Bruce_Johnston']                                                                            1
['Peter_Andre', 'Katie_Price']                                                                                  1
['Travis_Scott', 'Days_Before_Rodeo']                                                                           1
['Odysseus', 'Homer', 'Odyssey']                                                                                1
['Hotell', 'Lisa_Langseth']                                                                                     1
['Red_Hot_Chili_Peppers', 'Blood_Sugar_Sex_Magik_Tour']                                                         1
['Thenmerku_Paruvakaatru', 'Seenu_Ramasamy']                                                                    1
['Michael_Jeter', 'The_Fisher_King']                                                                            1
['Aruba', 'Tundra']                                                                                             1
['Sheldon_Cooper', 'Jim_Parsons']                                                                               1
['Jesse_Eisenberg', 'Rio_2']                                                                                    1
['Reflektor', 'Arcade_Fire']                                                                                    1
['Cheaper_by_the_Dozen_2', 'Tom_Welling']                                                                       1
['Barranquilla', 'Shakira']                                                                                     1
['Mary_Marvel', 'Supergirl']                                                                                    1
['Haitian_Creole', 'French_language']                                                                           1
['Superman', 'Daily_Planet']                                                                                    1
['London', 'Financial_centre']                                                                                  1
['Hometown_Glory', 'Adele']                                                                                     1
['Anna_Gunn', 'Breaking_Bad', 'Skyler_White']                                                                   1
['The_Fearless_Vampire_Killers', 'Manson_Family', 'Doris_Tate', 'Sharon_Tate', 'Eye_of_the_Devil']              1
['Mogambo', 'Grace_Kelly']                                                                                      1
['Battle_of_Trenton', 'George_Washington', 'Siege_of_Boston']                                                   1
['Vito_Corleone', 'Sonny_Corleone', 'Fredo_Corleone']                                                           1
['Blue_whale', 'Baleen_whale']                                                                                  1
['Rio_de_Janeiro', 'Brazilian_Carnival']                                                                        1

[4867 rows x 1 columns]

## Evidence missed

In [45]:
missed_df = labelled_claims_df[labelled_claims_df.missed_count > 0]

In [46]:
missed_df.missed_docs.astype(str).value_counts().to_frame()

                                                                                                      missed_docs
{'Deadpool_-LRB-film-RRB-'}                                                                                   118
{'Planet_of_the_Apes_-LRB-1968_film-RRB-'}                                                                    114
{'The_Prestige_-LRB-film-RRB-'}                                                                               103
{'Glee_-LRB-TV_series-RRB-'}                                                                                  102
{'Francois_de_Belleforest'}                                                                                  100
{'AC/DC'}                                                                                                      97
{'Eagles_-LRB-band-RRB-'}                                                                                      95
{'United_States'}                                                                                              94
{'Beyonce'}                                                                                                   93
{'O._J._Simpson'}                                                                                              90
{'Constantine_-LRB-film-RRB-'}                                                                                 88
{'Apple_Inc.'}                                                                                                 84
{'Overwatch_-LRB-video_game-RRB-'}                                                                             83
{'Star_Wars-COLON-_The_Force_Awakens'}                                                                         81
{'Prince_-LRB-musician-RRB-'}                                                                                  80
{'Game_of_Thrones_-LRB-season_3-RRB-'}                                                                         80
{'Charles,_Prince_of_Wales'}                                                                                   78
{'Outlander_-LRB-TV_series-RRB-'}                                                                              77
{'The_Wolf_of_Wall_Street_-LRB-2013_film-RRB-'}                                                                76
{'Dr._Dre'}                                                                                                    75
{'Sunrise_-LRB-company-RRB-'}                                                                                  75
{'Thor-COLON-_The_Dark_World'}                                                                                 75
{'Furia_-LRB-film-RRB-'}                                                                                       73
{'Penny_Dreadful_-LRB-TV_series-RRB-'}                                                                         73
{'Blue_Velvet_-LRB-film-RRB-'}                                                                                 73
{'Memento_-LRB-film-RRB-'}                                                                                     73
{'Slash_-LRB-musician-RRB-'}                                                                                   72
{'Floyd_Mayweather_Jr.'}                                                                                       71
{'Franklin_D._Roosevelt'}                                                                                      71
{'Citadelle_Laferriere'}                                                                                      70
...                                                                                                           ...
{'FC_Barcelona', 'Copa_Eva_Duarte'}                                                                             1
{'Prompt_book'}                                                                                                 1
{'The_Big_Clock_-LRB-film-RRB-', 'The_Thief_-LRB-1952_film-RRB-', 'The_Lost_Weekend_-LRB-film-RRB...            1
{'Poison_Ivy_-LRB-1992_film-RRB-', 'E.T._the_Extra-Terrestrial', 'Donnie_Darko', 'Blended_-LRB-fi...            1
{'Monkey_Business_-LRB-1952_film-RRB-'}                                                                         1
{'Fernando_Alonso', '1997_Formula_One_season', 'Michael_Schumacher'}                                            1
{'Elizabeth-COLON-_The_Golden_Age', 'Elizabeth_-LRB-film-RRB-'}                                                 1
{'Kim_Tae-yeon', "Girls'_Generation", 'Im_Yoon-ah', 'Sunny_-LRB-singer-RRB-', 'Choi_Soo-young', '...            1
{'One_by_One_-LRB-Foo_Fighters_album-RRB-', 'Album'}                                                            1
{'Cutout_animation'}                                                                                            1
{'Shogun', 'Japan', 'Edo', 'China'}                                                                             1
{'Felicity_Jones'}                                                                                              1
{'American_Broadcasting_Company', 'Last_Man_Standing_-LRB-U.S._TV_series-RRB-', 'Home_Improvement...            1
{'Cameron_Diaz', 'Kurt_Russell', 'Jason_Lee_-LRB-actor-RRB-'}                                                   1
{'Lieutenant_Governor_of_California', 'Governor_of_California'}                                                 1
{'The_Doctor_-LRB-Doctor_Who-RRB-', 'Regeneration_-LRB-Doctor_Who-RRB-'}                                        1
{'Rastafari'}                                                                                                   1
{'MTV', 'La_La_Anthony'}                                                                                        1
{'App_Store_-LRB-iOS-RRB-'}                                                                                     1
{'Mohra'}                                                                                                       1
{'Unintended_pregnancy'}                                                                                        1
{'Love_&_Friendship', 'Much_Ado_About_Nothing_-LRB-1993_film-RRB-', 'Emma_-LRB-1996_TV_film-RRB-'...            1
{'Stephen_A._Douglas'}                                                                                          1
{'Theodore_Roosevelt', 'Mount_Rushmore'}                                                                        1
{'Robert_Redford', 'Margot_Kidder', 'Bo_Svenson', 'Susan_Sarandon', 'Edward_Herrmann'}                          1
{'Twenty_Four_Seven_-LRB-Tina_Turner_album-RRB-'}                                                               1
{'Blue_Moon_of_Kentucky'}                                                                                       1
{'Liev_Schreiber', 'Lily_Rabe', 'Peter_Sarsgaard'}                                                              1
{'Carolingian_Empire'}                                                                                          1
{'Detroit', 'North_America', 'United_States'}                                                                   1

[9416 rows x 1 columns]